doctype html
html
  head
    block title
      itle= "云中信"
    meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=no')

    block css

    block define
      include const
  body
    block landing
      include landing

    block page

    block js

    include analytics
