doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=egde,chrome=1")
    meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=no')
    block title
      title= "云信"
    meta(name="Author", content="@imissile")
    meta(name="kewords", content="CreditCloud, 云信, 互联网金融, 金融, p2p, 网贷, P2P开发, P2P系统开发, P2P系统外包, 网贷系统, 网贷系统外包, 网贷系统开发, 众筹, 小贷, 贷后管理, 催收系统")
    meta(name="description", content="云信是行业领先的提供P2P网贷开发、P2P业务咨询的专业公司。我们提供各种类型的P2P网贷模式业务支持系统，全面的互联网金融解决方案。国内最领先的技术架构，最优秀的研发人员。")
    link(rel="shortcut icon", href="/favicon.ico")

    block css

    block define
      include const
  body
    block preBody

    block page

    block js

    include analytics
