doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/joinUs.css')
    meta(name='viewport', content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0')
  body
    .container
      .content
        a(href='/').logo
          img(src='images/loading.png')
        .space-10.top-space
        h2.margin-top-20.main-tit 创新金融信息服务公司招募技术伙伴
        .main-dec
          p 我们拥有深厚的金融业务和 IT 技术背景，对量化风险计算、资产证券化交易及互联网金融有充分的了解和丰富的实践经验。真诚期待志同道合的小伙伴加入。
          p 身处互联网金融行业，正是蓬勃发展的大好时机
          p 云信系列产品已被行业认可，服务客户包括东方资产、华安保险等业界重量级客户
          p 创始人曾任摩根斯坦利资本国际（MSCI）的副总裁，多年的金融系统开发经验和金融业务背景，团队骨干在金融业务和IT技术方面各有所长，对互联网金融行业有充分的了解和深刻的认识
          p 对内我们互相认可、支持和信任，鼓励个人成长和发展，每个人都需要独当一面，在自己的领域有充分的话语权
          p 公司成立后一直被多家知名 VC 关注，目前已获得国内顶级 VC 的数百万美金A 轮融资
          h2 我们提供
          ul
            li 顶级配置Mac MD388，4核i7，16G内存，250G SSD，27寸高分显示器或ME665
            li 办公室交通便利，上下班不打卡，自主安排工作时间
            li 电竞座椅，24小时空调，奋力净化过的空气，无限量供应的可乐、绿茶、咖啡、牛奶。。
            li 实习补贴200元/天，欢迎通过实习争取全职岗位offer（别去拼校招啦，我们这儿来用实力证明自己）
            li 全职岗位年薪15-20W 起 期权+社保+公积金+补充医疗
        .action
          p #心动不如行动#
          p 应聘发邮件至hr AT creditcloud.com（请自行替换 AT），并说明应聘岗位、应聘理由、目前状态和联系方式。
        .section
          .hr
            h2.main-tit 热招职位-2014年8月20日更新
          .hr
            h2 JS/NodeJS开发工程师 3 名 工作地点：北京/上海
            ul
              li 基本经验和技能要求：
              li 你要真的懂 how to make love (HTML), 玩儿的转CSS，熟悉W3C标准，经过你的调教，能搞定主流浏览器兼容问题；
              li 熟悉JS，熟悉主流的前端开发框架(Angular,Backbone, Ember等)
              li 掌握至少一种后端语言（Python/PHP/Java/Ruby等），不一定有实战经验
              li 会使用git等工具，对github不陌生
              li 熟悉linux环境，会使用命令行工具
              li 另外，要有责任心和团队精神，懂合作(这听起来这很老套，但真的很重要)，具备独立解决问题的能力和经验

            h2.h-s 除此之外，如果你还熟悉下面这些关键词就更好了
            ul
              li grunt/coffeeScript/less/jade/seajs/requirejs/
            h2.h-s 加分项：
            ul
              li Linux爱好者
              li Apple重度患者
              li 有自己的开源作品或技术博客
              li 对交互和设计有一定了解和践行
              li 对金融行业有一定了解

            .hr
              h2 iOS 开发工程师 1名 工作地点：北京
              ul
                li 基本经验和技能要求：
                li 两年以上 iOS 开发经验，有经历至少一个iOS APP从设计到上线的过程
                li 熟练使用Objective C及常见开发框架
                li 擅长对 APP 进行性能调优
                li 学习能力强，能独立思考并解决问题
                li 对自己的作品有要求，有技术洁癖
                li 懂得沟通和合作，有团队精神
              h2.h-s 加分项：
              ul
                li 真心热爱 iOS 或移动端开发，有自己的个人项目或者技术博客
                li 有一定界面或者交互设计基础
                li 对金融产品感兴趣，对理财产品有一定了解

            .hr
              h2 JavaEE开发工程师 3名 工作地点：北京/上海
              ul
                li 基本经验和技能要求：
                li 1年以上Java开发工作经验
                li 熟悉JavaEE相关技术，EJB3.x，Jersey，JPA等，熟悉Mysql数据库
                li 对前端开发技术有一定了解，能够和前端设计师配合开发高交互性应用—对新技术有兴趣
                li 有强大的学习欲望和能力，对金融行业和金融产品有了解或感兴趣
                li 懂得团队协作，且有一定独立工作能力，易相处

            .hr
              h2 运维工程师 1名 工作地点：北京
              ul
                li 基本经验和要求：
                li 1年以上Linux 运维经验
                li 熟悉 Mysql 数据库，有性能调优经验
                li 熟练使用至少一种至少一种脚本语言（shell, python, perl）
                li 对新技术有兴趣，有强大的学习欲望和能力
                li 懂得团队协作，且有一定独立工作能力，易相处
              h2.h-s 加分项：
              ul
                li 熟悉 Splunk, Jenkins，有相关使用经验
                li 有 JavaEE 开发经验
                li 有 SaaS平台运维经验

            .hr
              h2 UI设计师  1名 工作地点：北京
              ul
                li 职责：
                li 负责现有云信系列产品（网站&移动端） UI 的优化和升级
                li 负责新产品UI 设计
              h2.h-s 我们希望你：
              ul
                li 4年以上互联网产品设计工作经验，擅长应用型网站 UI 设计经验优先考虑
                li 独立完成全部设计，能充分理解需求，把控设计风格
                li 懂得设计、可用性及商业价值的平衡点，能跟产品和开发的同事交流顺畅，合作效率高
                li *请附上作品链接

            .hr
              h2 项目经理 1名 工作地点：北京
              ul
                li 岗位职责：
                li 负责公司企业端产品线项目管理
                li 负责推动版本迭代规划并组织团队制定项目版本计划，分配工作，跟踪和维护，确保项目按计划完成
                li 负责项目相关内部沟通，保证内部沟通顺畅、信息同步
                li 制定并推广项目流程规范，确保项目有序推进、高效运转
                li 及时发现并跟踪解决项目问题，有效管理项目风险
              h2.h-s 任职要求：
              ul
                li 2年以上在互联网WEB应用类或 SaaS 产品开发经验
                li 至少2年项目管理经验
                li 熟悉迭代开发管理
                li 具有良好的执行力和责任心，能推动项目团队朝目标前进
                li 善于与与人沟通、交流，具备团队合作精神
            
            .hr
              h2 高级金融量化分析师 1名 工作地点：上海
              ul
                li 工作描述：
                li 带动新成立的量化分析团队，为多种金融产品的定价，交易，风险评估提供量化分析服务。观察评估投资者风险偏好，结合现代投资理论与量化模型，优化既有资产组合。工作任务主要包括开发定价模型与风控模型，并利用公司自有模型制定资产组合优化策略。本职位将与风控，价值评估，交易等诸多部门紧密协作。
              h2.h-s 基本技能和能力要求:
              ul
                li 过硬的数量分析技巧
                li 丰富的投资理财经验
                li 对基本金融产品，例如股票，基金的了解
                li 理解固定收益类产品的基本定价模型
                li 了解各类潜在风险与应对方式
                li 流利表达思想的能力
                li 较强的人际交往能力与组织能力
              h2.h-s 经验要求:
              ul
                li 5年以上量化分析的经验
                li 1年以上理财，股票交易的经验
                li 能够独立使用Matlab，R，SAS等任意一种语言进行量化模型开发
            .hr
              h2 风险控制量化分析师 1-2名 工作地点：上海
              ul
                li 工作描述：
                li 加入新成立的量化分析团队，参与设计风险控制模型，开发风控定价模型。对资产组合的风险进行定量分析，并对交易策略所产生的潜在影响以及风险进行独立评估，定期发送报告给内部审计部门。工作性质要求细心，认真负责。
              h2.h-s 基本技能和能力要求：
              ul
                li 较强的数量分析技巧
                li 接触过投资理财，理解基本原理
                li 对基本金融产品，例如股票，基金的了解
                li 了解各类潜在风险与应对方式
                li 对量化研究的热情
              h2.h-s 经验要求：
              ul
                li 3年以上量化分析的经验
                li 熟练使用Matlab等高级语言进行量化分析
                li 有在银行定量分析或者风控部门工作经验的优先考虑




          .footer
            p.center
              | ©2013 云信(北京)信息咨询有限公司 &nbsp;
              a(href='http://www.miitbeian.gov.cn/', target='_blank') 苏ICP备13032969号

    include analytics
