doctype html
html
  head
  title= title
  link(rel='stylesheet', href='/stylesheets/joinUs.css')
  meta(name='viewport', content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0')
body
  .container
    .content
      a(href='/').logo
        img(src='images/loading.png')
      .space-10.top-space
      h2.margin-top-20.main-tit 创新金融信息服务公司招募技术伙伴
      .section
        h2 我们是谁?
        ul
          li 我们是专注于互联网金融和金融IT领域的扎营在帝都的创业团队，为蓬勃发展的民间金融机构提供最专业的金融信息整合技术解决方案。
          li 创始人曾任华尔街顶级金融数据公司的副总裁，团队骨干成员有多位经验丰富的资深金融IT，启动资金充裕不急于融资，敢自信的说是踏实、靠谱儿，用实力说话好团队。
        .hr
        h2 我们提供
        ul
          li 顶级配置Mac开发环境（MD388，4核i7，16G内存，250G SSD，27寸高分显示器。或者可选ME665移动开发）
          li 电竞座椅，24小时空调/热水，奋力净化过的空气，无限量供应的可乐、绿茶、咖啡、牛奶。。。
          li 交通便捷的办公地点，步行5分钟即到2、4、13号地铁（帝都的同学们应该已经知道我们在哪里了。。。）
          li 年薪20w起，社保+公积金+补充医疗，正式的有条件股权转让协议（或者叫，期权？但不需等到上市哦亲~）最重要的是，我们提供了值得奋斗的事业和成就理想的平台！
        .hr
        h2 我们要求
        ul
          li 大数据处理，聚类分析，分布式算法，SOA架构，投资者关系，市场推广。。。
          li 以上这些我们都不作要求。。。请您往下看。。。
        .hr
        h2 JavaEE 开发：
        ul.required
          li 软件开发类专业硕士，2年以上JavaEE开发工作经验
          li 精通JavaEE相关技术，EJB3.x，Jersey，JPA等，熟悉Mysql数据库
          li 对前端开发技术有一定了解，能够和前端设计师配合开发高交互性应用
          li 对新技术有兴趣，有强大的学习欲望和能力，对金融行业和金融产品有了解或感兴趣
          li 懂得团队协作，且有一定独立工作能力，易相处
        .footer
          p
            | 简历请迅猛砸向：
            a.email(href='mailto:hr@creditcloud.com') hr@creditcloud.com
          p
            | ©2013 苏州云中信信息技术有限公司 &nbsp;
            a(href='http://www.miitbeian.gov.cn/', target='_blank') 苏ICP备13032969号

include analytics
