doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=egde,chrome=1")
    meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=no')
    block title
      title= "云信管理后台"
    meta(name="Author", content="@imissile")
    link(rel="shortcut icon", href="/favicon.ico")

    block css

    block define
      include ../../const
  body
    block page

    block js

    include ../../analytics
